<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Database Connection</h1>    

    <table>
        <tbody>
            {% for row in set %}
                <tr>
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}">
    </script>
</body>
</html>