:root {
    font-size: 62.5%;
}
body{
    background-color: #0f0f0f;
    font-size: 1.6rem;
    color: white;
}
h1 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2rem;
}

header {
    width: 100vw;
    height: auto;
    background-color: rgb(66, 66, 66);
    color: limegreen;
    margin-bottom:2rem;
}
section {
    font-size: 1.6rem;
}